.messages-container{
    background: rgba(208, 228, 236, 0.3);
    height: 100%;
    padding: 10px;
    overflow:auto;


}



.messages-list{
    height: 100%;

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

