.messages-container{
    height: 90%;
    background: rgba(208, 228, 236, 0.3);
    width: 100%;
    padding: 10px;
    overflow:auto;

}



.messages-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

