.message {
   width: 50%;
    padding: 4px;
    background: rgba(118, 172, 208, .7);
    border-radius: 7px;
    margin-bottom: 14px;

}

.message--robot{
    background: rgba(184, 118, 208, .7);
   transform: translateX(50%);

}

.message__author{

}

.message__text {
    color: #fff;
}

.message__author{
    font-weight: bold;

}
