.message {
    width: 30%;
    padding: 4px;
    background: rgba(118, 172, 208, .7);
    border-radius: 7px;
    margin-bottom: 14px;
}

.message__text {
    color: #fff;
}

.message__author{
    font-weight: bold;
}